/*set up box sizing for all the different elements*/
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/*define colour of body*/
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

/*styling body*/
body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

/*change classes from correct or incorrect*/
body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

/*container that grabs all the content and gives it a card effect*/
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2 px;
}

/*styling answer grid*/
.btn-grid {
    display: grid;
    grid-template-columns:(2, auto);
    gap: 10px;
    margin: 20px 0;
}

/*Start or styling buttons for the page*/
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue),100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover{
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
/*End of styling buttons for the page*/

/*Wrapping buttons for the page*/
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*hiding questions for start of game*/
.hide {
    display: none;
}